// Imports
@import url("http://fonts.googleapis.com/css?family=Advent+Pro:400,600,200,700,100,300,500");

// Sizes
$font-tiny: 10px;
$font-small: 12px;
$font-medium: 14px;
$font-regular: 18px;
$font-big: 24px;
$font-giant: 30px;

// Mixins
@mixin helvetica($size, $color, $weight: normal) {
  font-family: "Helvetica";
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin helvetica-neue($size, $color, $weight: normal) {
  font-family: "Helvetica Neue";
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin adventpro($size, $color, $weight: normal) {
  font-family: "Advent Pro";
  font-weight: $weight;
  font-size: $size;
  color: $color;
}
