// Background
$background-main: #f6f4ec
$background-black: #4b4b4b
$bakcground-dark-white: #ebe8db

// Fonts
$font-black: #4b4b4b
$font-grey: #8c8c8c
$font-yellow: #ffcb00
$font-white-dark: #f5f3eb

// Border
$border-black: #4b4b4b
$border-grey: #bdbcb5

// Buttons
$button-yellow: #ffc300