a:hover 
	cursor: pointer
#page-wrapper
	width: 100%
	min-width: 980px
	margin: 0
	padding: 0
	background: $background-main
	// TOP
	.region-top
		width: 100%
		min-width: 980px
		background: $background-black
		height: 40px
		text-align: right
		// IF SIGNED OUT
		#block-block-6
			display: inline-block
			margin: 0 90px 0 0
			.content
				text-align: right
				.login-register
					margin: 13px 0 0 0
					list-style: none
					li
						display: inline-block
					#login, #register
						@include adventpro($font-small, $font-white-dark)
						text-transform: uppercase
						text-decoration: none
						&:hover
							text-decoration: underline
							cursor: pointer
					#or
						@include adventpro($font-tiny, $font-white-dark)
		// SHOWS ON CLICK
		#block-user-login
			display: block
			position: absolute
			top: 40px
			right: 45px
			text-align: left
			background: $background-black
			.content
				margin: 0
				padding: 10px
				@include adventpro($font-medium, $font-white-dark)
				a
					color: $font-white-dark
					text-decoration: none
					&:hover
						text-decoration: underline

		// IF SIGNED IN
		#block-system-user-menu
			display: inline-block
			margin: 0 90px 0 0
			.content
				text-align: right
				.menu
					margin: 10px 0 0 0
					list-style: none
					li
						display: inline-block
						a
							@include adventpro($font-small, $font-white-dark)
							text-transform: uppercase
							text-decoration: none
							&:hover
								text-decoration: underline