// TOP
.header-wrap
	width: 100%
	min-width: 980px
	background: $background-black
	height: 40px
	header
		height: 40px
		text-align: right
		ul
			display: inline-block
			list-style: none
			margin: 8px
			li
				float: left
				padding: 5px
				@include adventpro($font-small, $font-white-dark)
			.or
				@include adventpro($font-tiny, $font-white-dark)
				line-height: 1.5em
// PAGE
#page-wrapper
	width: 100%
	min-width: 980px
	margin: 0
	padding: 0
	background: $background-main
	#page
		width: 980px
		margin: 0 auto
		// HEADER
		#header
			width: 980px
			height: 110px
			margin: 0




