body.page-frontpage
	#page-wrapper
		#page
			#main-wrapper
				#main
					// MAIN CONTENT
					#content
						.section
							// MAP AND SEARCH
							#highlighted
								.region-highlighted
									// MAP
									#block-views-location-table-block-1
										h2
											@include helvetica-neue($font-big, $font-black)
											@include opacity(.2)
											margin: 25px 0
										.content
											.view-location-table
												.view-filters
													display: none
												// GOOGLE MAP
												.view-content
													border-top: 1px solid $border-grey 
													border-bottom: 1px solid $border-grey
													padding: 1px 0
													.gmap
														width: 980px !important
														height: 450px !important
