body.node-type-startup {
  #page-wrapper {
    #page {
      #breadcrumb {
        display: none;
      }

      // Content & Sidebar
      #main-wrapper {
        #main {
          // Startups
          #content {
            width: 100%;
            h1 {
              margin: 20px 0 10px 0;
              padding: 20px 0 0 0;
              @include helvetica($font-giant, $font-black, 100);
              color: #4b4b4b;
            }
            // Single Startup
            .node-startup {
              h2 {
                margin: 20px 0 10px 0;
                padding: 20px 0 0 0;
                border-top: 1px solid $border-grey;
                @include helvetica($font-giant, $font-black, 100);
                color: #4b4b4b;
              }
              .submitted {
                display: none;
              }
             .content {
				// Link
				.field-name-field-startup-link{
                    @include border-radius(2px);
                    @include background-clip(padding-box);
                    background-color: #4b4b4b;
                    padding: 3px 3px 3px 15px;
                    margin: 2px;
                    display: inline-block;
                    a {
                      @include helvetica-neue($font-small, $font-yellow, 200);
                    }
				  }
				// Logo
				.field-name-field-startup-logo {
				  border: 1px solid #e1ddcc;
				  float: right;
				  margin: 30px 0 0 10px;
				  width: 220px;
				  img {
					border: 5px solid #f1eddb;
					width: 210px;
				  }
				}
				// Description
				.field-type-text-with-summary {
				  padding: 10px 0 0 0;
				  margin: 0 0 20px 0;
				  @include helvetica-neue($font-medium, $font-black);
				  line-height: 1.5em;
				  p {
					margin: 15px 0;
				  }
				}
				  // Funding Status
				  .field-name-taxonomy-vocabulary-2 {
					.field-label {
					  clear: both;
					  @include helvetica-neue($font-small, $font-black);
					  text-transform: uppercase;
					  margin: 0 10px 0 0;
					  line-height: 2em;
					}
					.field-item {
					  @include border-radius(2px);
					  @include background-clip(padding-box);
					  background-color: #4b4b4b;
					  padding: 3px;
					  margin: 2px;
					  display: inline-block;
					  a {
						@include helvetica-neue($font-small, $font-yellow, 200);
						text-transform: uppercase;
					  }
					}
				  }
				  // Product Status
				  .field-name-taxonomy-vocabulary-3 {
					margin: 0;
					@extend .field-name-taxonomy-vocabulary-2;
				  }
				
                // Tags
                .field-name-taxonomy-vocabulary-1 {
                  @extend .field-name-taxonomy-vocabulary-2;
				  float: left;
				  min-height: 70px;
				  padding: 10px 0 0 20px;
				  width: 60%;
                }
              }
              .node-readmore {
                display: none;
              }
			 #comments {
			   clear: both;}
            }
          }
        }
      }
    }
  }
}
